@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    content: "";
    background: url(./image/windows11bg1.jfif) no-repeat center/cover;
    /* background: url(./image/windows11bg2.jfif) no-repeat center/cover; */
    /* position: absolute; */
    /* margin-top: 60px; */
    width: 100vw;
    height: 100vh;
}



header{
    background-color: #dbe1f2f1;
    /* backdrop-filter: blur(20px); */
    position: fixed;
    width: 100vw;
    bottom: 0px;
    display: flex;
    flex-direction: row; 
    /* This is default value */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -2px;
    z-index: 10;
}
.leftbar{
    margin: auto 5px;
}

.middlebar{
    /* background-color: blueviolet; */
    /* position: fixed; */
    margin-left: 18%;
}
.middlebar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.middlebar ul img{
    /* width: 30px; */
    height: 40px;
    margin: auto 10px;
    /* up right bottom left */
    padding: 5px 0;
    /* box-shadow: 0 0 0 0; */
}
.middlebar ul li{
    height: 40px;
    box-sizing: border-box;
    transition: 0.3s;
}

.middlebar li:hover {
    background-color: #ffffffc0;
    /* background-color: rgba(255, 255, 255, 0.733); */
    border-radius: 3px;
    box-shadow: 0px 0px 5px -5px;
    border-bottom: 3px solid rgb(15, 15, 15);
    
}



.rightbar{
    /* background-color: blue; */
    margin-right: 10px;
}

.rightbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.rightbar ul .notice{
    margin: auto 0px;
    /* background-color: red; */
    height: 40px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    transition: 0.3s;
    /* color: white; */
    
}
/* .rightbar ul .notice .fa{
    font-weight: ;
    color: white;
} */

.rightbar .notice:hover {
    background-color: #ffffff3b;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -5px;
    border-bottom: 3px solid rgb(15, 15, 15);
 }




.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
    font-size: 0.85rem;
    /* color: white; */
    margin: auto 5px;
}



.windowpopup{
    /* display: none; */
    background-color: #e1e7fbf6;
    position:fixed;
    width: 45%;
    bottom: -200%;
    margin: auto 30%;
    height: 640px;
    box-shadow: 1px 1px 15px -7px;
    border-radius: 10px;
    transition: 0.2s;
    /* z-index: -1; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* cursor:pointer; */
    
}

.windowpopup.show{
    bottom: 55px;

}

.mainlayout1{
    display: flex;
    width: 90%;
    /* background-color: aqua; */
    height: 85%;
    margin: auto;
    margin-top: 25px;
    flex-direction: column;
    z-index: -2;
    
    
}


.sub1mainlayout1{
    width: 100%;
    background-color: white;
    height: 7%;
    display: flex;
    justify-content: row;
    border-bottom: 3px solid rgb(2, 177, 247);
    border-radius: 4px;
    overflow: hidden;
    /* z-index: 8; */

}
.sub1mainlayout1 i{
    cursor:pointer
}
.sub1mainlayout1 .fab{
    font-size: 23px;
    padding: 7px;
    margin-left: 10px;
    width: 7%;
    text-align: center;
    /* cursor:pointer; */
    transform: scale(-1, 1);
}
.searchapp{
    width: 93%;
    height: 100%;
    outline: none;
    border: none;

}

.sub2mainlayout1{
    /* background-color: red; */
    width: 100%;
    height: 47%;

}

.label{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 25px auto 15px auto ;

    
}

.label p{
    font-weight: bold;
}

.label button{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1px 8px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: white;
    /* width: 60px; */
    cursor: pointer;

}
.label button i{
    margin-left: 5px;
}


.app{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px , 0fr));
    /* grid-column: 1fr 1fr; */
    justify-content: center;
    margin: auto;
    width: 100%;
    grid-gap: 10px;
}

.appicon{
    width: 90px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.appicon img{
    /* width: 100%; */
    height: 60%;
    
}

.appicon a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.sub3mainlayout1{
    /* background-color: rgb(0, 4, 255); */
    width: 100%;
    height: 47%;
}

.app2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px , 0fr));
    /* grid-column: 1fr 1fr; */
    justify-content: center;
    margin: auto;
    width: 100%;
    grid-gap: 10px;
}

.app2icon{
    /* width: 100px; */
    height: 60px;
    /* background-color: green; */
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}

.app2icon p{
    margin-left: 15px;
}

.app2icon img{
    /* width: 100%; */
    height: 80%;
    
}

.mainlayout2{
    display: flex;
    width: 100%;
    background-color: #dbe1f2;
    height: 8%;
    /* margin-top: 25px; */
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    flex-direction: row;
    /* z-index: -5; */
    box-shadow: 1px 0px 3px -1px;
}

.bottom{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.mainlayout2 .bottom .user{
    font-family: 'Zilla Slab', serif;
    width: 160px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;


}

.mainlayout2 .bottom .user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 5px;
    box-shadow: 0px 0px 5px -1px;

}

.mainlayout2 .bottom .logicon{
    font-size: 20px;
    margin-left: 170px;
    cursor: pointer;
}


/* Destop App */


.destopapp{
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(120px , 0fr)); */
    /* grid-column: 1fr 1fr; */
    /* justify-content: center; */
    /* margin: auto; */
    width: 100px;
    height: 90vh;
    margin-top: 10px;
    grid-gap: 15px;
}

.destopicon{
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: column;
    font-size: 13px;
    
}

.destopicon img{
    height: 70%;
    
}

/* Frame */
iframe{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.frame{
    position: absolute;
    width: 768px;
    height: 432px;
    margin: auto;
    display: flex;
    /* align-items: center; */
    top: 25%;
    left: 25%;
    /* transform: translate(-100% , -100%); */
}


.close{
    left: 100px;
    z-index: 10;
    position: absolute;
    top: 100px;
}